%h1= title

%p Your computation is ready

%p
  Now share&nbsp;
  %a{href:'/compute/' + uuid} this link 
  &nbsp;with your minions :)

%p If you just want to monitor the progress&nbsp;
  %a{href:'/monitor/' + uuid} this is your link.

%p
  Happy global warming
